.action-button {
  background-color: #3141c5;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.top-section {
  background-color: #f3c6bd;
}

.header {
  display: flex;
  height: 64px;
  width: 100%;
  align-items: center;
  background-color: #fff;
  padding-left: 15px;
}

.logo {
  display: flex;
}
.logo__img {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.logo__description {
  display: none;
}

.navigation {
  display: none;
}

.header__button {
  display: none;
}

.header__menu-buttom {
  width: 58px;
  height: 100%;
  border: none;
  border-left: 1px solid #00000026;
  margin-left: auto;
  background: transparent;
}

.header__menu-buttom-icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}

.navigation-list__item {
  color: #2b292d;
  text-decoration: none;
  line-height: 25px;
  font-size: 18px;
  margin-right: 50px;
}

.navigation-list__item_selected {
  font-weight: 700;
}

.navigation-list__item:last-child {
  margin-right: none;
}

.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  margin-left: 11px;
}

@media screen and (min-width: 400px) {
  .top-section {
    background-color: #f3c6bd;
    padding-top: 39px;
  }

  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-right: 75px;
  }

  .header {
    display: flex;
    width: 1140px;
    height: 62px;
    background-color: #f3c6bd;
    margin: auto;
    margin-left: 130px;
    padding-left: 0;
  }

  .header__button {
    display: block;
  }

  .header__menu-button {
    display: none;
    display: block;
  }

  .logo__img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
}
.headline {
  width: 100%;
}

.headline__content {
  margin: 35px 15px 33px 15px;
}

.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}

.headline__discription {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}

.headline__action {
  margin-top: 30px;
}

.headline__learn-more-btn {
  width: 158px;
  height: 48px;
  background-color: #fff;
  color: #3040c4;
  font-size: 18px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}

.headline__baner {
  width: 100%;
  margin-bottom: 36px;
}

@media screen and (max-width: 400px) {
  .headline__action-btn {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .headline {
    display: flex;
    width: 1140px;
    position: relative;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
  }
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
  .headline__discription {
    height: 102px;
    width: 456px;
    margin-top: 34px;
    z-index: 1;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;
  }
  .headline__action {
    display: flex;
    margin-top: 58px;
  }
  .headline__learn-more-btn {
    margin-top: 0;
    margin-left: 10px;
  }
  .headline__baner {
    width: 796px;
    height: 448px;
    position: relative;
    right: -105px;
    top: 0;
    margin-left: auto;
  }
}
.order {
  background-color: #f4f5f7;
  padding: 50px 15px;
}
@media screen and (min-width: 400px) {
  .order {
    display: flex;
    padding: 0;
  }
}
.order__img {
  display: flex;
}
@media screen and (min-width: 400px) {
  .order__img {
    margin: 0;
    padding: 73px 123.59px 72px 224px;
  }
}
.order__illustration {
  width: 200px;
  margin: auto;
}
@media screen and (min-width: 400px) {
  .order__illustration {
    height: 296px;
    width: 269px;
    margin: 0;
  }
}
@media screen and (min-width: 400px) {
  .order__content {
    width: 555px;
    margin-right: 230px;
  }
}
.order__title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .order__title {
    text-align: left;
    padding-top: 106px;
    margin: 0;
    margin-bottom: 12px;
  }
}
.order__details {
  font-size: 22px;
  line-height: 32px;
}
@media screen and (min-width: 400px) {
  .order__details {
    width: 555px;
    margin-top: 0;
    margin-bottom: 26px;
  }
}
.order__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  width: 100%;
  height: 48px;
  text-align: center;
  background: #fff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
@media screen and (min-width: 400px) {
  .order__email::placeholder {
    text-align: left;
    padding: 15px;
  }
}
.order__buttom {
  margin-top: 12px;
}
@media screen and (max-width: 400px) {
  .order__buttom {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .order__buttom {
    flex-shrink: 0;
    margin-top: 0;
    margin-left: 10px;
  }
}
.order__terns {
  font-size: 14px;
  line-height: 22px;
  color: rgba(17, 8, 27, 0.6);
}
@media screen and (min-width: 400px) {
  .order__terns {
    margin-top: 10px;
    margin-bottom: 105px;
  }
}

.audience {
  min-width: 320px;
  background-color: rgba(0, 161, 198, 0.07);
  text-align: center;
  padding: 50px 15px 35px;
}
@media screen and (min-width: 400px) {
  .audience {
    padding-top: 108px;
    padding-bottom: 110px;
  }
}
@media screen and (min-width: 400px) {
  .audience__visitors {
    display: flex;
    flex-direction: column;
  }
}
.audience__engage {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
  padding-bottom: 17px;
}
@media screen and (min-width: 400px) {
  .audience__engage {
    width: 168px;
    margin: auto;
  }
}
.audience__understand {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}
@media screen and (min-width: 400px) {
  .audience__understand {
    width: 555px;
    height: 112px;
    font-size: 56px;
    line-height: 56px;
    margin: auto;
    margin-bottom: 30px;
  }
}
.audience__applicants {
  font-size: 24px;
  line-height: 34px;
  margin-top: 17px;
  margin-bottom: 30px;
}
@media screen and (min-width: 400px) {
  .audience__applicants {
    width: 555px;
    height: 72px;
    margin: auto;
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 400px) {
  .audience__buttons {
    display: flex;
    margin: auto;
    margin-bottom: 111px;
  }
}
@media screen and (max-width: 400px) {
  .audience__button {
    width: 100%;
  }
}
.audience__button-text-black {
  color: black;
}
.audience__users {
  display: flex;
  flex-direction: column;
  flex: 0;
  flex-wrap: 0;
  margin-top: 40px;
}
@media screen and (min-width: 400px) {
  .audience__users {
    flex-direction: row;
    margin-top: 0;
    margin-left: 115px;
  }
}
.audience__user {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin: 0;
  margin-bottom: 15px;
}
@media screen and (min-width: 400px) {
  .audience__user {
    width: 262px;
    height: 300px;
    padding: 0;
    margin-top: 0;
    margin-right: 30px;
  }
}
.audience__img-user {
  margin: 22px 0;
}
.audience__p-user {
  width: 250px;
  height: 28px;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  margin: auto;
}
.audience__p-user:hover {
  color: #fff;
}
.audience__user {
  background-color: #fff;
}
.audience__user:hover, .audience__user__p-user:hover {
  background-color: #3141c5;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: auto;
}

.about-company {
  margin-top: 44px;
}

.footer__description-text {
  display: block;
}

.footer__description {
  width: 360px;
  line-height: 26px;
  font-size: 18px;
  color: #2b292d;
  opacity: 60%;
  margin-top: 26px;
}

.footer-navigation {
  display: flex;
  flex-direction: row;
  width: 1140px;
  height: 339px;
  margin: 0 auto 0 130px;
}

.downloads {
  margin-top: 25px;
}
.downloads__item {
  margin-right: 10px;
}

.additional-navigation {
  display: flex;
  margin: 60px 29px 0 126px;
}
.additional-navigation__column {
  margin-right: 29px;
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  font-weight: bold;
  font-size: 22px;
  color: #2b292d;
  line-height: 28px;
  margin: 0;
}
.nav-links__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d;
  opacity: 60%;
  margin-top: 18px;
}

.footer-link {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
}

.footer__line {
  width: 100%;
  border-top: 1px solid #2b292d;
  opacity: 10%;
  margin: 0;
}

.terms {
  line-height: 50px;
  font-size: 14px;
  margin-left: 130px;
}
.terms__items {
  text-decoration: none;
  color: #2b292d;
  opacity: 60%;
  margin-right: 22px;
}

.social-links {
  margin-right: 132px;
  margin-left: auto;
}
.social-links__item {
  margin-left: 20px;
}

@media screen and (max-width: 400px) {
  .footer-navigation {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    margin: 0;
  }

  .logo-footer {
    flex-direction: column;
  }

  .footer__logo-img {
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
  }

  .logo__text-footer {
    height: 51px;
    text-align: center;
  }

  .footer__description {
    display: none;
  }

  .downloads {
    text-align: center;
    margin: 31px auto 30px;
  }

  .additional-navigation {
    flex-direction: column;
    text-align: left;
    margin: 30px auto 18px 15px;
  }

  .footer__line {
    position: absolute;
    top: 282px;
  }

  .footer-link {
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: left;
  }

  .terms {
    margin-left: 15px;
    margin-right: auto;
  }

  .social-links {
    margin: 0 auto 15px 15px;
  }
  .social-links__item {
    margin: 0;
    margin-right: 20px;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 400px) {
  .page {
    display: inline-flex;
    flex-direction: column;
    max-width: 1400px;
    min-height: 100vh;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
